
<section>

  <div class="nader"><a href="https://www.facebook.com/nader.mnejli.5">
    <img src="/assets/img2.jpg" alt="nader" style="width:100%"></a>
    <div class="container">
    <p>Mnejli Nader</p><br>
    <p>Bonjour! Je suis un etudiant dans iset beja et j'ai participé à developer immobile.tn en partenaire avec Trabelsi Baha Eddine!</p>

    </div>
    </div>

    <div class="nader">
      <a href="https://www.facebook.com/trabelsibahee/">
      <img src="/assets/img.jpg" alt="baha" style="width:100%"></a>
      <div class="container">
      <p>Trabelsi Baha Eddine</p><br>
      <p>Bonjour! Je suis un etudiant dans iset beja et j'ai participé à developer immobile.tn en partenaire avec Mnejli Nader!</p>
      </div>
      </div>
      </section>
