<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink=""><img class="img" src="/assets/logo1.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class=" nav-link" routerLink=""><p class="bar">Aceuil</p> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="course"><p class="bar">Catalogue</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="joinnow"><p class="bar">Connexion</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about"><p class="bar">A propos</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signin"><p class="bar">S'inscrire</p></a>
        <a class="nav-link" routerLink="compte"><p class="bar">Compte</p></a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


<section class="foot">

  <a class="center" routerLink=""><img class="img" src="/assets/logo1.png" style="text-align: center;"></a>
  <div class="follow text-center">
    <br><br>
    <a href="fa">Facebook</a>
    <a href="#">Youtube</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
  </div>

<!-- footer -->
<!--https://material.angular.io/components/ripple/overview-->
<footer class="text-center mt-2"><br><br>
  <p>&copy; Immobile 2021. Crée par Trabelsi Bahe & Mnejli Nader.<br>Tout droit reservés.</p>
</footer>
</section>
