p{
  text-align:center;
  color:white;
  font-family: Copperplate Gothic Light;

}
h1 {
background-color:black;
  color:white;
  font-family: Copperplate Gothic Light;

}
.container{
  background-color:black;

}
h2{
  color:white;
  font-family: Copperplate Gothic Light;

}
