<section class="home">
<img src="../../assets/wallpaper.jpg">

<div class="homecontent">
<h1>Acheter ou Louer des immobiliers</h1>
<a routerLink="course" class="btn btn-lg btn-light">Catalogue</a> &nbsp;
<a routerLink="joinnow" class="btn btn-lg btn-dark">Connexion</a> &nbsp;
<a routerLink="signin" class="btn btn-lg btn-dark">S'inscrire</a>



</div>
</section>

<div class="row">
  <div class="column" style="background-color:#eff6ff">
  Immobile.tn est au service de toutes les agences immobilières en Tunisie. Nous vous proposon un service professionnel
    et une sélection d'outils qui vous garanti l'exposition de vos biens immobilier sur tout le marché Tunisien et mondial.
  </div>

  <div class="column" style="background-color:#eff6ff">
    Votre spécialiste de l'immobilier vous propose une sélection des plus beaux appartements et maisons à vendre et à louer.
    </div>
  <div class="column" style="background-color:#eff6ff;">
  Nous sommes présents dans toute la Tunisie. Quel que soit l’endroit où vous recherchez nous avons ce qu’il vous faut.
  </div>
  <div class="column" style="background-color:#eff6ff;">
    Une équipe dynamique prête à vous servir et répondre à tous vos questions 24h/24…
      Vous souhaitez vendre, louer, acheter une maison en Tunisie n’hésitez pas à nous contacter.
    </div>

<div class="gallery">
  <a target="_blank" href="/course">
    <img src="assets/house1.png" alt="Cinque Terre" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="/course">
    <img src="assets/house2.png" alt="Forest" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="/course">
    <img src="assets/house6.png" alt="Northern Lights" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="/course">
    <img src="assets/house8.jpg" alt="Mountains" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank" href="/course">
    <img src="assets/house5.png" alt="Forest" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="/course">
    <img src="assets/house7.png" alt="Northern Lights" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="/course">
    <img src="assets/house3.png" alt="Mountains" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank" href="/course">
    <img src="assets/villa1.jpg" alt="Mountains" width="600" height="400">
  </a>
</div>
